<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brand Directory</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<div class="container my-4" style="max-width: 900px;">
    <h2 class="text-start mb-4">
        <i class="fa-solid fa-cart-shopping"></i> Brand New
    </h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
        [[${message}]]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form action="#" th:action="@{/brands/save}" th:object="${brand}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{image}"/>

        <div class="mb-4">
            <label for="brandName" class="form-label">Brand Name</label>
            <input type="text" id="brandName" th:field="*{name}" class="form-control" placeholder="Enter brand name" required>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
        </div>

        <div class="mb-4">
            <label for="brandDescription" class="form-label">Brand Description</label>
            <textarea id="brandDescription" th:field="*{description}" class="form-control" rows="4" placeholder="Enter brand description" required></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></p>
        </div>

        <div class="mb-4">
            <label for="supplier" class="form-label">Supplier</label>
            <select id="supplier" th:field="*{supplier}" class="form-select" required>
                <option value="" selected disabled>Select a supplier</option>
                <option th:each="supplier : ${suppliers}"
                        th:value="${supplier.id}"
                        th:text="${supplier.name}">
                </option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary col-12">
                Save
            </button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
